body 
{
    padding: 0;
}

input[type=text]
{
    display: block;
    background-color: #F2EFCB;
    margin: 10px;
    margin-left: 0;
    padding-left: 10px;
    height: 25px;
    border:1px solid #70531D;
    border-radius:10px;
    color: #35250D;
    font-family: Consolas;
    font-size: 16px;
}

button
{
    padding: 5px;
    margin:10px;
    margin-left:0;
    width: 100px;
    font-family: Consolas;
    font-size: 16px;
    background-color: #F7F7F7;
    border:1px solid black;
}

button:hover
{
    color: #24821D;
    background-color: #FCFFEA;
}